
@{
    ViewBag.Title = "AdminHome";
    Layout = null;
}

<h2>AdminHome @Session["id"]</h2>
<h2>AdminHome @Session["name"]</h2>
<img src="@Url.Content(Session["img"].ToString())" alt="Alternate Text" width="50px" />

