
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveCartToDataBase</title>
</head>
<body>
    <Center style="font-size:50px">
        Your order is in progress
    </Center>
    <center>@Html.ActionLink("Continue shoping", "getFoodCategories", "GetFoodCatecories", null, new { @class = "btn btn-info" })</center>
</body>
</html>
