
@{
    ViewBag.Title = "UserHome";
    Layout = null;
}

<h2>UserHome @Session["id"]</h2>
<h2>UserHome @Session["name"]</h2>
<img src="@Url.Content(Session["img"].ToString())" alt="Alternate Text" width="50px"/>

