.bg-text {
    background-color: #00000000;
    color: rgb(12, 14, 93);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

    .bg-text p {
        font-size: 70px;
    }

.bg-text2 {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 20%;
}

marquee {
    position: absolute;
}

/*Foody word -----------------------------*/

.neons {
    margin-top: 9rem;
    text-align: center;
}

    .neons h1 {
        font-size: 7rem;
        text-align: center;
        font-weight: bold;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }

.mokh-btn-outline {
    color: #00fff2;
    border-color: #00fff2;
    text-shadow: 0 0 10px #00fff2;
    box-shadow: 0 0 10px #00fff2;
    width: 100px;
    height: 50px;
    background-color: #ffffff70
}

    .mokh-btn-outline:hover {
        background-color: #00fff2;
        color: white;
        border-color: white;
        text-shadow: 0 0 10px white;
        box-shadow: 0 0 10px white;
    }

    .mokh-btn-outline:active {
        background-color: #00fff2;
    }

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }

    to {
        color: gray;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}

.mo {
    margin-left: 6px;
}

@media (max-width:400px) {
    .neons h1 {
        font-size: 6rem;
    }
}

@media (max-width:997px) {
    .mo {
        margin-left: 0px;
    }
}